/*--- Backend form label ---*/
.w50.widget .accessibility-icon-container{
    margin-left: 5px;
}

.w50.widget h3{
    display: flex;
    align-items: center;
}

/*--- Widget ---*/
#floating-widget {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 300px;
    font-family: Arial, sans-serif;
}

#toggle-widget {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#widget-content {
    display: none;
    background: white;
    border: 4px solid #000;
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    font-size: 14px;
}

.accordion-item h4 {
    cursor: pointer;
    padding: 5px;
    background: #ddd;
    margin: 0;
}

.accordion-item-content {
    padding-left: 10px;
    padding-top: 5px;
}

.accordion-item-content div {
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
}

/* Farbliche Markierungen für die Erfüllungszustände */
.accordion-item-content div[data-result="Fulfilled"] {
    color: green;
}

.accordion-item-content div[data-result="Partially Fulfilled"] {
    color: blue;
}

.accordion-item-content div[data-result="Not Fulfilled"] {
    color: red;
}

