{% block content %}
    <!-- Analytics Form -->
    <div id="wa-navigation-header">
        <button class="tl_submit">
            <a href="{{ webAccessibilityReportUrl }}">
                Web Accessibility Bericht
            </a>
        </button>
        <div id="tl_buttons">
            <a href="{{ backUrl }}" class="header_back" title="Return Button">Zurück</a>
        </div>
    </div>
    <div class="tl_formbody_edit">
        <fieldset id="pal_global_legend" class="tl_tbox">
            <legend>Barrierefreiheit-Analyse Einstellungen</legend>
            <div class="w50 widget">
                <h3><label>Seite</label></h3>
                <select name="pageSelect" id="ctrl_pageSelect" class="tl_select wa-page-select">
                    {% for page in pages %}
                        <option value="{{ page.urlPrefix ~ page.alias ~ page.urlSuffix }}">{{ page.title }}</option>
                    {% endfor %}
                </select>
                <p class="tl_help tl_tip" title="">Bitte wählen Sie eine Seite für die Analyse aus.</p>
            </div>
            <div class="w50 widget">
                <h3><label>Genauigkeitsklasse</label></h3>
                <select name="accuracyClass" id="ctrl_accuracyClass" class="tl_select wa-accuracy-select">
                    <option value="1">Genauigkeitsklasse 1</option>
                    <option value="2">Genauigkeitsklasse 2</option>
                    <option value="3">Genauigkeitsklasse 3</option>
                    <option value="4">Genauigkeitsklasse 4</option>
                </select>
                <p class="tl_help tl_tip" title="">Bitte wählen Sie eine Genauigkeitsklasse für die Analyse der Seite
                    aus.</p>
            </div>
        </fieldset>
    </div>
    <div class="tl_formbody_submit">
        <div class="tl_submit_container">
            <button id="wa-analyse-btn" class="tl_submit">Seite Analysieren</button>
        </div>
    </div>
    <!-- Analytics Form END -->

    <!-- Report Result-->
    <div id="wa-report">
        <h2 class="sub_headline sub_headline_index">Barrierefreiheit Bericht</h2>
        <div class="content">
            <p>Bitte eine Seite auswählen und auf 'Seite Analysieren' drücken, um den Bericht zu sehen.</p>
            <div class="loader"></div>
            <div id="app"></div>
        </div>
    </div>
    <!-- Report Result END -->
{% endblock %}
